<% provide(:title, "Modification d'un exposition") %>
<h2>Modification d'un exposition...</h2>

<%= form_for @exhibition do |f| %>

		<% if @exhibition.errors.any? %>
			<%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being created:
			<ul>
				<% @exhibition.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		
		
		<div class="field form-group">
			<%= f.label(:museum_id, "Musée de l'exposition", class: "col-md-4 control-label" ) %>	
			<div class="col-sm-8"><%= f.collection_select(:museum_id, Museum.all, :id, :full_display, {prompt: "Sélectionner le musée..."}, {class: "form-control"})  %></div>
		</div>
		<br/><br/>
		
		<div class="field form-group">
			<%= f.label(:year, "Date de l'exposition", class: "col-sm-4 control-label"  ) %>	
			<div class="col-sm-8"><%= f.select :year, (1860..2016), {prompt: "Date de l'oeuvre..."}, {class: "form-control"}  %></div>
		</div>	
		<br/><br/>	

		<div class="field form-group">
			<%= f.label(:number, "Numéro de l'expo si nécessaire (plusieurs expos dans la même musée sur cette année ou période)", class: "col-sm-4 control-label"  ) %>	
			<div class="col-sm-8">			
				<%= f.number_field :number, class: "form-control"%>
			</div >
		</div>
		<br/><br/>

		<div class="field form-group">
			<%= f.label(:remark, "Remarques ou nom de l'expo", class: "col-sm-4 control-label") %>
			<div class="col-sm-8">		
				<%= f.text_field :remark, class: "form-control" %>
			</div >
		</div >
		<br/><br/>
		

	<%= f.submit "Modifier l'expo" %>
<% end %>


<%= link_to "Abandonner l'édition de cette expo", url_for(action: 'show', id: @exhibition)%><br/>

