<% provide(:title, "Modification d'un exposition") %>
<h2>Modification d'un exposition...</h2>

<%= form_for @exhibition do |f| %>

		<% if @exhibition.errors.any? %>
			<%= pluralize(@exhibition.errors.count, "error") %> prohibited this exhibition from being created:
			<ul>
				<% @exhibition.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		
		
		<div class="field">
			<%= f.label "Musée où a eu lieu l'exposition" %> <br />
			<%= f.collection_select(:museum_id, Museum.all, :id, :full_display, :prompt=>"Sélectionner le musée...")  %> <br />	
		</div>
		
		<div class="field">
			"Date de l'expo" 
			<%= f.label :year %> <br />
			<%= f.select :year, (1860..2015), :prompt=>"Date de l'expo..." %> <br />
		</div>
		
		<div class="field">
			"Numéro de l'expo si nécessaire (plusieurs expos dans la même musée sur cette année ou période)"
			<%= f.label :number %><br />
			<%= f.number_field :number %><br />
		</div>
		
		<div class="field">
			"Remarques ou nom de l'expo"
			<%= f.label :remark %><br />
			<%= f.text_area :remark %><br />
		</div>
		

	<%= f.submit "Modifier l'expo" %>
<% end %>


<%= link_to "Abandonner l'édition de cette expo", url_for(action: 'show', id: @exhibition)%><br/>

