<% provide(:title, "Edition d'une fiche") %>
<h2>Edition d'une fiche...</h2>

<%= form_for @painting do |f| %>

		<% if @painting.errors.any? %>
			<%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being created:
			<ul>
				<% @painting.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		
		<div class="field">
			"Titre de l'oeuvre"
			<%= f.label :title %>
			<%= f.text_area :title %>
		</div>
		
		<div class="field">
			"Numéro de l'oeuvre (référence interne Word)"			
			<%= f.number_field :number %>
			<%= f.label :number %>
		</div>
		
		<div class="field">
			"L'oeuvre a t'elle une année précise ?"

			<%= f.radio_button :has_accurate_date, 'true' %> 
			<%= label :has_accurate_date, 'Oui' %>
			<%= f.radio_button :has_accurate_date, 'false' %> 
			<%= label :has_accurate_date, 'Non' %>
		</div>
		
		<div class="field">
			"Si oui, est ce une date Circa ?"

			<%= f.radio_button :circa, 'true'%> 
			<%= label :circa, 'Oui' %>
			<%= f.radio_button :circa, 'false' %> 
			<%= label :circa, 'Non' %>
		</div>
		
		<div class="field">
			<%= f.label "Date de l\'oeuvre" %> <br />
			<%= f.select :year, (1860..1900), :prompt=>"Date de l'oeuvre..." %> <br />
		</div>		
		
		<div class="field">
			<%= f.label "Periode de l\'oeuvre" %> <br />
			<%= f.select :period, ["1850-1860","1860-1870","1870-1880","1880-1890","1890-1900","1900-1910"], :prompt=>"Date de l'oeuvre..." %> <br />
		</div>
		
		<div class="field">
			<%= f.label "Technique et support de l\'oeuvre" %> <br />
			<%= f.select :technique,["Huile sur toile", "Huile sur papier", "Huile sur panneau", "Huile sur carton", "Huile sur autre", "Pastel sur papier", "Pastel sur autre", "Mixte sur toile", "Mixte sur papier", "Mixte sur autre", "Pastel et fusain"] \
		, :prompt=>"Technique et support de l\'oeuvre..." %> <br />
		</div>

		<div class="field">
			<%= f.label "Cachet" %> <br />
			<%= f.select :cachet, ["Vente Degas", "Atelier", "Invisible"] , :prompt=>"Cachet..." %> <br />
		</div>
		
		<div class="field">
			<%= f.label "Localisation" %> <br />
			<%= f.select :localisation, ["Musée", "Collection Particulière", "Inconnu"], :prompt=>"Localisation..." %> <br />
		</div>
		
		<div class="field">
			<%= f.label "Musée" %> <br />
			<%= f.collection_select(:museum_id, Museum.all, :id, :full_display, :prompt=>"Sélectionner le musée...")  %> <br />	
		</div>
		
		
		<div class="field">
			<%= f.label "Expositions de l'oeuvre (Mutliple select possible)" %> <br />
			<%= f.collection_select(:exhibition_ids, Exhibition.all, :id, :full_display, {}, {multiple: true})  %> <br />	
		</div>

	<%= f.submit "Mettre à jour la fiche", class: "btn btn-default" %>
<% end %>

<%= link_to "Abandonner l'édition de cette fiche", url_for(action: 'show', id: @painting)%><br/>

