<% provide(:title, "Fiche") %>
<div class="page-header">
<h2><%= @painting.title %></h2>
</div>

<%= image_tag @painting.picture.url, height: '200' %>
<ul>
	<li>Cette fiche est accessible dans la fichier : <%= @painting.number%>.doc </li>
	<li>Carton: <%= @painting.carton.html_safe %></li>
	<li>Description: <%= @painting.description.html_safe %></li>
    <% if !@painting.lemoisne.nil? %> <li>Lemoisne : <%= @painting.lemoisne %></li><% end %>
	<li>Datation de l'oeuvre : <%= @painting.has_accurate_date ? (@painting.circa ? "Circa "+@painting.year.to_s : @painting.year.to_s ) : (@painting.period.to_s) %></li>
	<li>Technique : <%= @painting.technique %></li>
	<li>Cachet : <%= @painting.cachet %></li>
	<li>Signature : <%= @painting.cachet %></li>
	<li>Localisation : <%= @painting.localisation %></li>
	<li>Hauteur * Largeur : <%=@painting.heigth %>*<%=@painting.width %> cms soit <%= @heigth_inch %>*<%= @width_inch %> inchs</li>
	<% if @painting.localisation == "Musée" %><li>Musée de localisation : <%= @painting.museum.full_display %></li><% end %>

<% if @painting.exhibitions.any? %>
	<li>Liste des expositons où cette fiche apparaît : 
		<ul>
			<% @painting.exhibitions.each do |exhibition| %>
				<li><%= render 'exhibitions/show', :exhibition => exhibition %> </li>
			<% end %>
		</ul>
	</li>
<% end %>	
</ul>


<%= link_to "Modifier la fiche ci-dessus", url_for(action: 'edit', id: @painting),  class: "btn btn-link"%><br/>
<%= button_to "Détruire la fiche ci-dessus", {action: 'destroy', id: @painting}, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %><br/>


