<% provide(:title, "Edition d'un musée") %>
<h2>Edition d'un musée...</h2>

<%= form_for @museum do |f| %>

		<% if @museum.errors.any? %>
			<%= pluralize(@museum.errors.count, "error") %> prohibited this museum from being created:
			<ul>
				<% @museum.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		
		<div class="field form-group">
			<%= f.label(:name, "Nom du musée", class: "col-sm-4 control-label") %>
			<div class="col-sm-8">		
				<%= f.text_field :name, class: "form-control" %>
			</div >
		</div >
		<br/><br/>

		<div class="field form-group">
			<%= f.label(:city, "Ville du musée", class: "col-sm-4 control-label") %>
			<div class="col-sm-8">		
				<%= f.text_field :city, class: "form-control" %>
			</div >
		</div >
		<br/><br/>
		
		<div class="field form-group">
			<%= f.label(:remark, "Remarque éventuelle", class: "col-sm-4 control-label") %>
			<div class="col-sm-8">		
				<%= f.text_field :remark, class: "form-control" %>
			</div >
		</div >
		<br/><br/>

	<%= f.submit "Modifier le musée", class: "btn btn-primary" %>
<% end %>

<%= link_to "Abandonner l'édition de ce musée", url_for(action: 'show', id: @museum)%><br/>

