<% provide(:title, "Musée") %>
<h2>Voici le musée...</h2><br/>

Nom du musée : <%= @museum.name %><br/>
Ville du musée : <%= @museum.city %><br/>
<% !@museum.remark.nil? ? "Remarque :  "+@museum.remark : "" %><br/>

<% if @museum.exhibitions.any? %>
Liste des expositons que ce musée a hébergée : 
	<ul>
		<% @museum.exhibitions.sort_by{|e| e.year}.each do |exhibition| %>
			<li><%= render 'exhibitions/show', :exhibition => exhibition %> </li>
		<% end %>
	</ul>
<% end %>

<% if @museum.paintings.any? %>
Liste des oeuvres que ce musée héberge : 
	<ul>
		<% @museum.paintings.sort_by{|e| e.sort_date}.each do |painting| %>
			<li><%= render 'paintings/show', :painting => painting %> </li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Modifier le musée ci-dessus", url_for(action: 'edit', id: @museum), class: "btn btn-link"%><br/>
<%= button_to "Détruire le musée ci-dessus", {action: 'destroy', id: @museum}, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %><br/>


