<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
		<ul class="nav nav-tabs">
		    <li role="presentation" ><%= link_to "Toutes les fiches", root_path %></li>
			<li role="presentation" ><%= link_to "Créer une fiche", new_painting_path %></li>
			<li role="presentation" ><%= link_to "Toutes les expos", exhibitions_path %></li>
			<li role="presentation" ><%= link_to "Créer une expo", new_exhibition_path %></li>
		    <li role="presentation" ><%= link_to "Tous les musées", museums_path %></li>
			<li role="presentation" ><%= link_to "Créer un musée", new_museum_path %></li>
		
			<li role="presentation" >
				<%= form_tag(search_path, {method: :get, class: "navbar-form navbar-right" } ) do %>
					<div class="form-group">
  						<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search" ) %>
 					</div>
  					<%= submit_tag("Chercher une fiche", class: "btn btn-default") %>
				<% end %>
      		</li>
      	</ul>
   </div>
  </div>
</nav>

