<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
		<ul class="nav nav-tabs">
		    <li role="presentation" ><%= link_to "Toutes les fiches", root_path %></li>
			<li role="presentation" ><%= link_to "Créer une fiche", new_painting_path %></li>
			<li role="presentation" ><%= link_to "Toutes les expos", exhibitions_path %></li>
			<li role="presentation" ><%= link_to "Créer une expo", new_exhibition_path %></li>
		    <li role="presentation" ><%= link_to "Tous les musées", museums_path %></li>
			<li role="presentation" ><%= link_to "Créer un musée", new_museum_path %></li>
		</ul>
   </div>
  </div>
</nav>

